<div class="modal-header">
    <label>Please select a group
        <a href="#" tooltip-triger="manual" tooltip-placement="bottom" 
        tooltip="The first step is to select one of the groups.">
        <i class="glyphicon glyphicon-comment"></i></a>
    </label>
</div>

<div class="modal-body">

    <div class="row">
        <div ng-repeat="provider in providers">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-default btn-lg text-uppercase" ng-click="selectProvider(provider)">
                {{provider.name}}
                </button>
            </div>
        </div>
    </div>
    
    <form>
        <div class="checkbox">
        <label>
          <input type="checkbox"> Remember my selection
        </label>
      </div>
    </form>
        
</div>

<div class="modal-footer">
    <p class="text-mute">You can change the group later by clicking <i class="glyphicon glyphicon-cog"></i></p>
</div>